<div class="help-text">
    <div class="content">
        <div class="readability">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-push-2 col-lg-8">
                        <h1>Help</h1>
                        <h3>Forgotten Password &amp; Password Reset</h3>
                        <p>If you have forgotten your password or would like it reset, click on the "Forgotten Password?" on the log in page.</p>
                        <h3>Browser Support</h3>
                        <p>Policy On Demand currently supports the following browser versions on both Windows and Mac (unless noted).</p>
                        <ul>
                            <li>Internet Explorer 10 and 11 (Windows Only)</li>
                            <li>Latest version of Google Chrome</li>
                        </ul>

                        <h3>Technical Support - US</h3>
                        <ul>
                            <li>Support is available Monday through Friday from 8am to 10pm EST.</li>
                            <li>Non-PwC users may contact Angelique Diggs for assistance@202-346-5203 or call the PwC dedicated toll-free number 877-792-8665 (PwC-Tool). Direct Dial and International Callers please call 813-351-6449. Please mention that you are calling in regard to the Policy on Demand application.</li>
                            <li>PwC Staff may contact the PwC Helpdesk at 1-877-PwC-Help (877-792-4357)</li>
                        </ul>

                        <h3>Privacy Concerns or Questions?</h3>
                        <p>If you have any questions about the Privacy Policy governing the use of the site, please read our <a href="/Privacy" target="_blank">Privacy Statement.</a></p>

                        <h3>Saving Policy On Demand to your Mobile Home Screen</h3>
                        <p>How to save Policy On Demand to your iOS Home Screen</p>
                        <ul>
                            <li>Open up Safari on your iOS device.</li>
                            <li>Navigate to Policy On Demand <a href="https://policyondemand.pwc.com">https://insidetaxpolicy.pwc.com</a> to save as a home screen shortcut.</li>
                            <li>Tap the Share button on the menu bar. It’s an icon on the right side that’s a box with an arrow sticking out from it.</li>
                            <li>Tap on Add to Home Screen.</li>
                            <li>On the next page you’ll give the shortcut a name and confirm the web address.</li>
                            <li>After that, tap on Add in the upper-right corner to add the shortcut to your home screen.</li>
                        </ul>


                        <p>How to save Policy On Demand to your Android Home Screen</p>
                        <ul>
                            <li>Open up Chrome on your Android device.
                            <li>Navigate to Policy On Demand <a href="https://policyondemand.pwc.com">https://policyondemand.pwc.com</a> to save as a home screen shortcut.</li>
                            <li>Tap the menu button to Add to Homescreen.</li>
                            <li>On the next page you’ll give the shortcut a name and confirm the web address.</li>
                            <li>The shortcut is now added to your home screen.</li>
                        </ul>

                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>